ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.header {}

.container {
    max-width: 374px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__img {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__icon {
    width: 200px;
}

.social-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social-list__link {
    display: flex;
    align-items: center;

    background-color: #F8D24E;
    border-radius: 2rem;
    color: #fff;

    &:hover {
        color: #303031;
        background-color: #EA5921;
    }
}

.social-link__icon {
    fill: currentColor;
    width: 65px;
    height: 65px;
}

.social-list__body {
    flex-grow: 1;
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 5px;
}

.socisl-list__title {}

.social-list__description {}

// @media (max-width:1200px) {
//     .container {
//         max-width: 970px;
//     }

//     .header__img {
//         max-width: 970px;
//     }
// }

// @media (max-width:992px) {
//     .container {
//         max-width: 750px;
//     }

//     .header__img {
//         max-width: 750px;
//         clip-path: polygon(50px 0, 100% 0, 100% 100%, 50px 100%);
//     }
// }

// @media (max-width:767px) {
//     .container {
//         max-width: none;
//     }

//     .header__img {
//         max-width: none;
//     }
// }