ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.header {}

.container {
    margin: 0 auto;
    padding: 15px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding: 15px 30px;
    }

}

.header__img {
    width: 100%;
    object-fit: cover;

    @media screen and (min-width: 480px) {
        height: 15svh;

    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin-bottom: 10px;
}

.logo__icon {
    width: 100%;
}

.social-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social-list__link {
    display: flex;
    align-items: center;

    background-color: #F8D24E;
    border-radius: 2rem;
    color: #fff;

    &:hover {
        color: #303031;
        background-color: #EA5921;
    }
}

.social-link__icon {
    fill: currentColor;
    width: 65px;
    height: 65px;
}

.social-list__body {

    flex-grow: 1;
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 5px;
}

.socisl-list__title {
    font-size: 1.6rem;

    @media screen and (max-width: 768px) {
        font-size: clamp(0.4rem, 4vw, 1.8rem);
        font-weight: 600;
    }
}

.social-list__description {
    font-size: 1.6rem;

    @media screen and (max-width: 768px) {
        font-size: clamp(0.4rem, 4vw, 1.8rem);
    }
}